body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

.container {
  width: 350px;
  margin: 50px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

h1,
h2 {
  text-align: center;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

button {
  width: 100%;
  padding: 8px;
  background: #0d6efd;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

li {
  list-style: none;
  padding: 8px;
  margin: 5px 0;
  background: #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

.delete {
  background: red;
  color: white;
  border: none;
  padding: 4px 8px;
  cursor: pointer;
}
